[Unit]
Description=Autostart VirtualBox VM instance fdss
After=network.target vboxdrv.service

[Service]
User=rflemen
Type=simple
Restart=always
ExecStart=/usr/bin/vboxheadless -s fdss
ExecStop=/usr/bin/VBoxManage controlvm fdss acpipowerbutton

[Install]
WantedBy=multi-user.target
